@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our university</h1>
    <h2><i>Something about the University</i></h2>
    <br />
    <p><i>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras urna nisi, sollicitudin quis suscipit a,
    tristique mollis felis. Sed bibendum lectus at ante elementum pretium. Maecenas dignissim volutpat enim vitae maximus.
    Donec quis nisl laoreet, imperdiet ante at, sollicitudin arcu. Mauris lobortis arcu pretium augue semper, blandit commodo tellus auctor.
    Pellentesque tempor urna sed pulvinar accumsan. Aenean consequat tortor felis, vel euismod mi pulvinar ut. Donec eleifend viverra laoreet.
    Fusce lectus magna, aliquet sed interdum ut, scelerisque sed urna. Vivamus mollis massa sed neque suscipit, vestibulum lobortis dui vulputate.
    Donec fermentum metus et condimentum viverra. Quisque ut posuere dui.
    Aliquam convallis maximus dignissim. Etiam nisi magna, ultrices in tempor sit amet, suscipit ut orci.
    </i> </p>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
